/*! TAK's Custom Base.css v1.1.0 | MIT License | github.com/tak-dcxi/taks-custom-base-css */

/*
  TAK's Custom Base.css Made by TAK - https://www.tak-dcxi.com/
  This CSS is built based on Normalize.css. (https://necolas.github.io/normalize.css/)
  It aims to normalize styles for better cross-browser compatibility, remove default browser styling, and enhance usability and accessibility for all users."
*/

*,
::before,
::after {
  /* Ensure padding and borders are included within the dimensions of the element. */
  box-sizing: border-box;

  /* Prevent inline elements from extending beyond their container's bounds. */
  min-inline-size: 0;

  /* Remove any default borders. */
  border-width: 0;

  /* Set a default border style of solid for easy border additions. */
  border-style: solid;
}

:where(:root) {
  /* Use a common sans-serif font stack for better cross-platform compatibility. */
  font-family: 'Helvetica Neue', arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', meiryo,
    sans-serif;

  /* Normalize font-style. */
  font-style: normal;

  /* Normalize font-weight. */
  font-weight: 400;

  /* From an accessibility perspective, the line spacing within a paragraph should be at least 1.5 times the text size. (https://waic.jp/translations/WCAG21/#visual-presentation) */
  line-height: 1.5;

  /* Align text to the start of the element, accommodating left-to-right and right-to-left languages. */
  text-align: start;

  /* Remove leading white space for a cleaner text alignment */
  text-spacing-trim: trim-start;

  /* Use the browser's default method to determine word breaking */
  word-break: initial;

  /* Apply strict line breaking rules to enhance readability in languages that require it */
  line-break: strict;

  /* Allow long words to be broken and wrapped at any point to prevent overflow */
  overflow-wrap: anywhere;

  /* Automatically insert hyphens where appropriate for better text flow and alignment */
  hyphens: auto;

  /* Prevent mobile browsers from scaling text sizes automatically. */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  /* Eliminate the tap highlight color on mobile devices for a cleaner interface. */
  -webkit-tap-highlight-color: transparent;
}

:where(body) {
  /* 100% of the viewport's block size. */
  min-block-size: 100svb;

  /* Remove default margin. */
  margin: unset;
}

:where(p, table, blockquote, address, pre, iframe, form, figure, ul, ol, dl) {
  /* Reset default margin. */
  margin: unset;
}

:where(h1, h2, h3, h4, h5, h6) {
  /* Reset default margin. */
  margin: unset;

  /* Reset default font-size. */
  font-size: unset;

  /* Reset default font-weight. */
  font-weight: unset;
}

:where(ul, ol) {
  /* Remove default padding. */
  padding: unset;

  /* In Safari, using 'list-style: none' causes the list not to be announced by screen readers, so use 'list-style-type: ""' to hide markers without affecting accessibility. */
  list-style-type: '';
}

:where(dt) {
  /* Make definition terms bolder. */
  font-weight: 700;
}

:where(dd) {
  /* Remove default indentation. */
  margin-inline-start: unset;
}

:where(:any-link) {
  /* Remove any default background colors. */
  background-color: unset;

  /* Reset text color to default or inherited value. */
  color: unset;

  /* Remove underline from links. */
  text-decoration-line: none;

  /* Set the thickness of the text decoration based on the font metrics. */
  text-decoration-thickness: from-font;

  /* Position the underline slightly away from the text for enhanced legibility. */
  text-underline-offset: 0.25em;
}

:where(b, strong) {
  font-weight: 700;

  /* Enhance the weight of bold elements for emphasis. */
}

:where(small) {
  font-size: 0.8em;

  /* Reduce font size for elements marked as small. */
}

:where(i, cite, em, address):where(:lang(ja)) {
  /* Reset font style for specific Japanese language elements. */
  font-style: normal;
}

:where(code) {
  /* Set the monospace font using Tailwind as a reference. (https: //tailwindcss.com/docs/font-family) */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Reset font size to ensure consistent appearance across different devices. */
  font-size: unset;
}

:where(img, svg, video) {
  /* Automatically adjusts the block size based on content. */
  block-size: auto;

  /* Limits the maximum size inline to prevent overflow. */
  max-inline-size: 100%;
}

:where(img) {
  /* Aligns images to the bottom of their line box. */
  vertical-align: bottom;
}

:where(svg) {
  /* Aligns SVGs to the baseline of their line box. */
  vertical-align: baseline;
}

:where(iframe) {
  /* Sets iframe to display as block-level flow root. */
  display: block flow;
}

:where(button, [type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  /* Set the inline-size of the button to match the content's inline-size exactly */
  inline-size: fit-content;

  /* Optimizes touch interaction for buttons. */
  touch-action: manipulation;
}

:where(button, input, optgroup, select, textarea),
::file-selector-button {
  /* Removes default margin. */
  margin: unset;

  /* Removes default padding. */
  padding: unset;

  /* Apply a transparent border for forced colors mode. */
  border: 1px solid transparent;

  /* Resets border-radius to default. */
  border-radius: unset;

  /* Removes default background color. */
  background-color: unset;

  /* Removes default text color. */
  color: unset;

  /* Resets font settings to inherit from parent. */
  font: unset;

  /* Centers the element vertically within its line box. */
  vertical-align: middle;

  /* Resets letter-spacing to default. */
  letter-spacing: unset;

  /* Resets text alignment to default. */
  text-align: unset;

  /* Resets text transformation to default. */
  text-transform: unset;
}

:where(:any-link,
  button,
  [type='button'],
  [type='reset'],
  [type='submit'],
  label[for],
  select,
  summary,
  [role='tab'],
  [role='button']),
::file-selector-button {
  /* Indicate clickable elements with a pointer cursor. */
  cursor: pointer;
}

:where(textarea) {
  /* Allows resizing of textarea vertically only */
  resize: block;
}

::placeholder {
  /* Normalize the opacity of placeholder text to fully opaque in Firefox, where it might be set to less by default */
  opacity: initial;
}

:where(input[type='file']) {
  /* Default cursor for file input fields. */
  cursor: auto;
}

:where(:disabled) {
  /* Show default cursor for disabled elements to reflect their non-interactive state. */
  cursor: default;
}

:where(select:disabled) {
  /* Keep the opacity of disabled selects consistent with other disabled elements. */
  opacity: inherit;
}

:where(option) {
  /* Remove any default padding from options for cleaner drop-down menus. */
  padding: unset;
}

:where(fieldset) {
  /* Remove default margin for a more compact layout. */
  margin: unset;

  /* Remove default padding for a more compact layout. */
  padding: unset;
}

:where(legend) {
  /* Remove default padding for a more compact layout. */
  padding: unset;
}

:where([type='search']) {
  /* Tighten the outline around search inputs for better visual feedback. */
  outline-offset: -2px;
}

:where([type='search'])::-webkit-search-decoration {
  /* Remove default decoration from search inputs to simplify their appearance. */
  appearance: none;
}

:where(summary) {
  /* Eliminate the default marker from details summary for a cleaner disclosure widget. */
  display: block flow;
}

:where(summary)::-webkit-details-marker {
  /* Hide the default disclosure marker to allow for custom styling. */
  display: none;
}

:where(table) {
  /* Collapses border for a more compact table design */
  border-collapse: collapse;
}

:where(caption) {
  /* Aligns the caption text to the start of the element */
  text-align: start;
}

:where(td, th) {
  /* Removes default padding from table cells and headers */
  padding: unset;

  /* Aligns content of table cells to the top */
  vertical-align: top;
}

:where(th) {
  font-weight: 700;

  /* Makes table header text bold */
  text-align: start;

  /* Aligns header text to the start of the cell */
}

:where(search) {
  /* Sets search elements to display as block-level flow root */
  display: block flow;
}

:where(dialog) {
  /* Resets overflow property */
  overflow: unset;

  /* Resets the inline size property */
  inline-size: unset;

  /* Resets the block size property */
  block-size: unset;

  /* Resets the max inline size limit */
  max-inline-size: unset;

  /* Resets the max block size limit */
  max-block-size: unset;

  /* Removes default padding */
  padding: unset;

  /* Removes default background color */
  background-color: unset;

  /* Resets color to default */
  color: unset;
}

:where([popover]) {
  /* Resets overflow property */
  overflow: unset;

  /* Resets the inline size property */
  inline-size: unset;

  /* Resets the block size property */
  block-size: unset;

  /* Removes default padding */
  padding: unset;

  /* Removes default background color */
  background-color: unset;

  /* Resets color to default */
  color: unset;
}

::backdrop {
  /* Remove default backdrop color for a clearer view of the underlying content. */
  background-color: transparent;
}

:where(:-moz-focusring) {
  /* Improve outlines for Firefox and unify style with input elements & buttons. */
  outline: auto;
}

:where(:focus-visible) {
  /* Slightly offset focus outline for better visibility without overlapping text. */
  outline-offset: 2px;
}

:where(:focus:not(:focus-visible)) {
  /* Hide focus outline unless element is explicitly focus-visible to reduce visual clutter. */
  outline: none;
}

[tabindex='-1']:focus-visible {
  /* Ensure that programmatically focused elements do not show an outline unless they are naturally focusable. */
  outline: none !important;
}

[hidden]:not([hidden='until-found']) {
  /* Ensure elements intended to be hidden are not displayed, enhancing clarity and layout control. */
  display: none !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after,
  ::backdrop {
    /* Disable animations and transitions for users who prefer reduced motion. */
    background-attachment: scroll !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
    animation-delay: 0s !important;
    animation-iteration-count: 1 !important;
  }
}
